### Quick Look at Data

In [3]:
import pandas as pd

nearterm_data = pd.read_csv('../data/nearterm_data_2020-2024.csv')
historic_data = pd.read_csv('../data/NABR_historic.csv')

nearterm_data.head()

,long,lat,year,TimePeriod,RCP,scenario,treecanopy,Ann_Herb,Bare,Herb,...,PPT_Annual,T_Winter,T_Summer,T_Annual,Tmax_Summer,Tmin_Winter,VWC_Winter_whole,VWC_Spring_whole,VWC_Summer_whole,VWC_Fall_whole
0,-110.0472,37.60413,2021,NT,4.5,sc22,0,0,84,5,...,6.37,1.630333,24.50402,24.50402,36.89,NaN,NaN,NaN,NaN,NaN
1,-110.0472,37.60413,2021,NT,4.5,sc22,0,0,84,5,...,NaN,NaN,NaN,NaN,NaN,-12.77,0.114652,0.078764,0.043514,0.051281
2,-110.0472,37.60413,2021,NT,4.5,sc23,0,0,84,5,...,3.09,1.389056,24.11043,24.11043,37.95,NaN,NaN,NaN,NaN,NaN
3,-110.0472,37.60413,2021,NT,4.5,sc23,0,0,84,5,...,NaN,NaN,NaN,NaN,NaN,-18.96,0.130221,0.096412,0.041232,0.092241
4,-110.0472,37.60413,2021,NT,4.5,sc24,0,0,84,5,...,6.87,-0.334389,25.54266,10.31321,37.74,NaN,NaN,NaN,NaN,NaN

In [75]:
historic_data.head()

,long,lat,year,TimePeriod,RCP,scenario,treecanopy,Ann_Herb,Bare,Herb,...,PPT_Annual,T_Winter,T_Summer,T_Annual,Tmax_Summer,Tmin_Winter,VWC_Winter_whole,VWC_Spring_whole,VWC_Summer_whole,VWC_Fall_whole
0,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,13.79,0.964835,23.15924,23.159240,37.05,NaN,NaN,NaN,NaN,NaN
1,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,2.69,0.964835,23.15924,0.964835,37.05,NaN,NaN,NaN,NaN,NaN
2,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,13.79,0.964835,23.15924,0.964835,37.05,NaN,NaN,NaN,NaN,NaN
3,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,2.69,0.964835,23.15924,23.159240,37.05,NaN,NaN,NaN,NaN,NaN
4,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,NaN,NaN,NaN,NaN,NaN,-12.45,0.113447,0.096831,0.041876,0.052298

### Drop Wrong Columns

In [76]:
historic_data.drop(columns = ['PPT_Annual','T_Annual'],inplace=True)
print(historic_data.shape)
historic_data.drop_duplicates(inplace=True)
print(historic_data.shape)

nearterm_data.drop(columns = ['PPT_Annual','T_Annual'],inplace=True)
print(nearterm_data.shape)
nearterm_data.drop_duplicates(inplace=True)
print(nearterm_data.shape)

(13821, 27)
(8775, 27)
(55802, 27)
(36000, 27)

In [77]:
historic_data.columns

Index(['long', 'lat', 'year', 'TimePeriod', 'RCP', 'scenario', 'treecanopy',
       'Ann_Herb', 'Bare', 'Herb', 'Litter', 'Shrub',
       'DrySoilDays_Summer_whole', 'Evap_Summer',
       'ExtremeShortTermDryStress_Summer_whole', 'FrostDays_Winter',
       'NonDrySWA_Summer_whole', 'PPT_Winter', 'PPT_Summer', 'T_Winter',
       'T_Summer', 'Tmax_Summer', 'Tmin_Winter', 'VWC_Winter_whole',
       'VWC_Spring_whole', 'VWC_Summer_whole', 'VWC_Fall_whole'],
      dtype='object')

### Fill Empty Data Points

In [78]:
# Make Plant Coverate be percentage rather than a number
historic_data['treecanopy_percent'] = 100 * historic_data['treecanopy']/(historic_data['treecanopy']+ historic_data['Ann_Herb'] + historic_data['Bare']+ historic_data['Herb']+ historic_data['Litter'] + historic_data['Shrub'])
historic_data['Ann_Herb_percent'] = 100 * historic_data['Ann_Herb']/(historic_data['treecanopy']+ historic_data['Ann_Herb'] + historic_data['Bare']+ historic_data['Herb']+ historic_data['Litter'] + historic_data['Shrub'])
historic_data['Bare_percent'] = 100 * historic_data['Bare']/(historic_data['treecanopy']+ historic_data['Ann_Herb'] + historic_data['Bare']+ historic_data['Herb']+ historic_data['Litter'] + historic_data['Shrub'])
historic_data['Herb_percent'] = 100 * historic_data['Herb']/(historic_data['treecanopy']+ historic_data['Ann_Herb'] + historic_data['Bare']+ historic_data['Herb']+ historic_data['Litter'] + historic_data['Shrub'])
historic_data['Litter_percent'] = 100 * historic_data['Litter']/(historic_data['treecanopy']+ historic_data['Ann_Herb'] + historic_data['Bare']+ historic_data['Herb']+ historic_data['Litter'] + historic_data['Shrub'])
historic_data['Shrub_percent'] = 100 * historic_data['treecanopy']/(historic_data['treecanopy']+ historic_data['Ann_Herb'] + historic_data['Bare']+ historic_data['Herb']+ historic_data['Litter'] + historic_data['Shrub'])

nearterm_data['treecanopy_percent'] = 100 * nearterm_data['treecanopy']/(nearterm_data['treecanopy']+ nearterm_data['Ann_Herb'] + nearterm_data['Bare']+ nearterm_data['Herb']+ nearterm_data['Litter'] + nearterm_data['Shrub'])
nearterm_data['Ann_Herb_percent'] = 100 * nearterm_data['Ann_Herb']/(nearterm_data['treecanopy']+ nearterm_data['Ann_Herb'] + nearterm_data['Bare']+ nearterm_data['Herb']+ nearterm_data['Litter'] + nearterm_data['Shrub'])
nearterm_data['Bare_percent'] = 100 * nearterm_data['Bare']/(nearterm_data['treecanopy']+ nearterm_data['Ann_Herb'] + nearterm_data['Bare']+ nearterm_data['Herb']+ nearterm_data['Litter'] + nearterm_data['Shrub'])
nearterm_data['Herb_percent'] = 100 * nearterm_data['Herb']/(nearterm_data['treecanopy']+ nearterm_data['Ann_Herb'] + nearterm_data['Bare']+ nearterm_data['Herb']+ nearterm_data['Litter'] + nearterm_data['Shrub'])
nearterm_data['Litter_percent'] = 100 * nearterm_data['Litter']/(nearterm_data['treecanopy']+ nearterm_data['Ann_Herb'] + nearterm_data['Bare']+ nearterm_data['Herb']+ nearterm_data['Litter'] + nearterm_data['Shrub'])
nearterm_data['Shrub_percent'] = 100 * nearterm_data['treecanopy']/(nearterm_data['treecanopy']+ nearterm_data['Ann_Herb'] + nearterm_data['Bare']+ nearterm_data['Herb']+ nearterm_data['Litter'] + nearterm_data['Shrub'])

# Drop unnecessary columns
historic_data.drop(columns=['treecanopy','Ann_Herb', 'Bare', 'Herb', 'Litter', 'Shrub'],inplace=True)
nearterm_data.drop(columns=['treecanopy','Ann_Herb', 'Bare', 'Herb', 'Litter', 'Shrub'],inplace=True)

# Round Numbers
historic_data = historic_data.round(3)
nearterm_data = nearterm_data.round(3)

# Code refers to https://saturncloud.io/blog/how-to-combine-multiple-rows-into-a-single-row-with-pandas/#:~:text=One%20way%20to%20combine%20multiple,aggregation%20function%20to%20each%20group.
agg_functions = {'DrySoilDays_Summer_whole': 'sum', 'Evap_Summer' : 'sum',
    'ExtremeShortTermDryStress_Summer_whole' : 'sum', 'FrostDays_Winter' : 'sum',
    'NonDrySWA_Summer_whole' : 'sum', 'PPT_Winter' : 'sum', 'PPT_Summer' : 'sum', 'T_Winter': 'sum',
    'T_Summer': 'sum', 'Tmax_Summer': 'sum', 'Tmin_Winter': 'sum', 'VWC_Winter_whole': 'sum',
    'VWC_Spring_whole': 'sum', 'VWC_Summer_whole': 'sum', 'VWC_Fall_whole': 'sum' }

required_columns = ['long', 'lat', 'year', 'TimePeriod', 'RCP', 'scenario', 'treecanopy_percent',
    'Ann_Herb_percent', 'Bare_percent', 'Herb_percent', 'Litter_percent', 'Shrub_percent']

historic_data = historic_data.groupby(required_columns).aggregate(agg_functions)
nearterm_data = nearterm_data.groupby(required_columns).aggregate(agg_functions)

historic_data.to_csv('../data/historic_cleaned.csv')
nearterm_data.to_csv('../data/nearterm_cleaned.csv')

### Data Merging

In [79]:
nearterm_df = pd.read_csv('../data/nearterm_cleaned.csv')
historic_df = pd.read_csv('../data/historic_cleaned.csv')
merged_data = pd.concat([nearterm_df, historic_df], ignore_index=True)
#print(merged_data.columns)
merged_data = merged_data.sort_values(by='year').groupby(['long', 'lat']).apply(lambda x: x).reset_index(drop=True)
merged_data = merged_data.round(3)
merged_data.head()

/var/folders/_c/cbt8xxhx1q18s6z108pfn5d00000gn/T/ipykernel_4530/4072227006.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  merged_data = merged_data.sort_values(by='year').groupby(['long', 'lat']).apply(lambda x: x).reset_index(drop=True)

,long,lat,year,TimePeriod,RCP,scenario,treecanopy_percent,Ann_Herb_percent,Bare_percent,Herb_percent,...,PPT_Winter,PPT_Summer,T_Winter,T_Summer,Tmax_Summer,Tmin_Winter,VWC_Winter_whole,VWC_Spring_whole,VWC_Summer_whole,VWC_Fall_whole
0,-110.047,37.604,1980,Hist,historical,sc1,0.0,0.0,78.505,4.673,...,13.79,2.69,0.965,23.159,37.05,-12.45,0.113,0.097,0.042,0.052
1,-110.047,37.604,1981,Hist,historical,sc1,0.0,0.0,78.505,4.673,...,2.25,9.39,3.334,23.271,37.55,-9.35,0.049,0.061,0.043,0.094
2,-110.047,37.604,1982,Hist,historical,sc1,0.0,0.0,78.505,4.673,...,4.12,9.50,-0.016,22.057,36.65,-16.55,0.109,0.075,0.046,0.068
3,-110.047,37.604,1983,Hist,historical,sc1,0.0,0.0,78.505,4.673,...,7.09,10.22,0.409,21.328,34.55,-15.05,0.120,0.103,0.044,0.075
4,-110.047,37.604,1984,Hist,historical,sc1,0.0,0.0,78.505,4.673,...,4.77,9.49,-1.047,21.960,35.35,-18.45,0.120,0.078,0.043,0.070

### Save as CSV

In [80]:
merged_data.to_csv('../data/final.csv')